// @font-face
//   font-family: 'cera-pro'
//   font-weight: normal
//   src: url('/fonts/cera-pro-med.otf') format("opentype")

@font-face
  font-family: 'cera-pro'
  font-weight: normal
  src: url('/fonts/cera-pro-reg.otf') format("opentype") // temp. added mb-team

@font-face
  font-family: 'cera-pro'
  font-weight: 700
  src: url('/fonts/cera-pro-bold.otf') format("opentype") // temp. added mb-team

@font-face
  font-family: 'cera-pro'
  font-weight: 500
  src: url('/fonts/cera-pro-med.otf') format("opentype") // temp. added mb-team