@import 'theme'
@import 'mixins'

*
  font-family: 'cera-pro', sans-serif
  margin: 0
  padding: 0
  box-sizing: border-box
  border: 0
  border-radius: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-size-adjust: none

body
  min-width: 320px

.container
  box-sizing: content-box
  margin: 0 auto
  max-width: 1024px
  padding: 56px 20px
  +mq($from: desktop)
    padding: 72px 20px

.padding_top
  padding-top: 48px
  +mq($from: desktop)
    padding-top: 72px

.divider
  position: relative
  height: 1px
  overflow: visible
  background-color: $gray_6
  &::after,
  &::before
    content: ''
    position: absolute
    width: 24px
    height: 2px
    top: 50%
    transform: translateY(-50%)
  &::after
    left: calc(50% - 24px)
    background-color: $blue
  &::before
    background-color: $primary
    left: 50%