.main
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-image: url('/images/bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center

.money_reason_wrapper
  padding: 72px 0

.money_reason_header
  margin-bottom: 65px