@import theme
@import mixins

.main
  height: 100vh
  display: flex
  align-items: center
  background-image: url('/images/bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  &_heading
    margin-bottom: 40px
  &_content
    display: flex
    flex-direction: column
    align-items: center

.heading
  margin-bottom: 48px
  +mq($from: desktop)
    margin-bottom: 65px

.sub_0
  &_content_block
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 44px
    +mq($from: desktop)
      grid-template-columns: 1fr 1fr 1fr
      grid-gap: 155px
  &_content_item_image_wrapper
    position: relative
    border-radius: 50%
    display: flex
    background-color: rgba($primary, 0.4)
    width: 100%
    max-width: 250px
    padding: 22%
    align-items: center
    margin: 0 auto 32px
    +mq($from: desktop)
      margin-bottom: 32px
      max-width: auto
  &_content_item_image_wrapper_resizer
    padding-bottom: 100%
  &_content_item_image
    width: 65%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.sub_1
  &_content
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 32px
    +mq($from: tablet)
      grid-template-columns: 1fr 1fr
    +mq($from: desktop)
      grid-template-columns: 1fr 1fr 1fr 1fr
      grid-gap: 90px
  &_item
    display: flex
    flex-direction: column
    align-items: center
  &_bg
    display: flex
    align-items: center
    justify-content: center
    width: 56px
    height: 56px
    border-radius: 50%
    background-color: rgba($primary, 0.4)
    svg
      width: 20px
  &_title
    margin: 24px 0 12px

.sub_2
  &_bottom
    margin-top: 50px
    display: flex
    align-items: center
    justify-content: center
  &_socials
    margin-left: 34px

.sub_3
  &_amount
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    height: 238px
    padding: 40px
    margin-bottom: 56px
    border-radius: 12px
    background-color: rgba($primary, 0.4)
    +mq($from: desktop)
      flex-direction: row
      padding: 0 175px 0 88px
  &_amount_counter
    +mq($from: desktop)
      flex-shrink: 0
      margin-right: 180px
  &_amount_sub
    text-align: center
    +mq($from: desktop)
      text-align: left
  &_content
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 32px
    +mq($from: desktop)
      grid-template-columns: 1fr 1fr 1fr
      grid-gap: 160px
      padding: 0 80px
  &_item_count
    margin-bottom: 15px
