@import mixins
@import theme

.header
  z-index: 3
  position: fixed
  left: 0
  top: 0
  display: flex
  justify-content: space-between
  align-items: center
  height: 48px
  width: 100%
  padding: 0 10px
  transition: background-color .3s
  +mq($from: desktop)
    height: 72px
    padding: 0 20px

.bg
  background-color: $white

.logo
  height: 18px
  cursor: pointer
  path
    transition: fill .3s
  +mq($from: desktop)
    height: 24px

.nav
  position: fixed
  z-index: 1
  top: -100%
  left: 0
  width: 100%
  padding: 24px
  display: flex
  flex-direction: column
  align-items: flex-start
  background-color: $white
  transition: top .3s
  +mq($from: tablet)
    position: relative
    top: 0
    width: auto
    padding: 0
    flex-direction: row
    align-items: center
    background-color: transparent
  ul
    display: flex
    flex-direction: column
    align-items: flex-start
    list-style: none
    li:first-child
      margin-bottom: 20px
    +mq($from: tablet)
      flex-direction: row
      align-items: center
      li:first-child
        margin-bottom: 0
  &_mob_open
    top: 0

.linkstr
  text-transform: uppercase
  cursor: pointer
  transition: color .3s
  +mq($from: tablet)
    margin-left: 20px

.socials
  margin: 45px 0 40px
  +mq($from: tablet)
    margin: 0 40px

.burger
  z-index: 2
  display: block
  width: 18px
  height: 18px
  label
    position: relative
    display: block
    height: 100%
  +mq($from: tablet)
    display: none

.icon
  position: absolute
  width: 18px
  opacity: 1
  cursor: pointer
  transition: opacity .3s
  path
    transition: stroke .3s

.hide
  opacity: 0

.gray_1
  path
    stroke: $gray_1

.white
  path
    stroke: $white
